.myAction {
    margin-top: 3px;
}

.myAction2 {
    display: none;
    position: relative;
}

.myAction:hover .myAction2 {
    display: block;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 90%;
}

/* adad */
.myAction3 {
    margin-top: 0px;
}

.myAction4 {
    display: none;
    position: relative;
}

.myAction3:hover .myAction4 {
    display: block;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 90%;
}